<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .todo-container {
            margin-top: 20px;
        }
        .todo-header {
            margin-bottom: 10px;
        }
        .todo-form {
            margin-bottom: 10px;
        }
        .completed-task input[type="text"] {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div class="container todo-container">
        <h1 class="todo-header">TodoList</h1>
        
        <div class="row">
            <div class="col">
                <h3>マイタスク</h3>
                <form method="post" th:action="@{/update}" th:each="todo : ${todos}" class="todo-form">
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" name="done_flg" value="1"/>
                        <input type="hidden" name="id" th:value="${todo.id}" />
                        <input type="text" class="form-control" name="title" th:value="${todo.title}" />
                        <input type="date" class="form-control" name="time_limit" th:value="${todo.time_limit}" />
                        <button type="submit" class="btn btn-primary">更新</button>
                    </div>
                </form>
            </div>
            
            <div class="col">
                <h3>完了済み</h3>
                <form method="post" th:action="@{/update}" th:each="todo : ${doneTodos}" class="todo-form completed-task">
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" name="done_flg" value="1"/>
                        <input type="hidden" name="id" th:value="${todo.id}" />
                        <input type="text" class="form-control" name="title" th:value="${todo.title}" />
                        <input type="date" class="form-control" name="time_limit" th:value="${todo.time_limit}" />
                        <button type="submit" class="btn btn-primary">更新</button>
                    </div>
                </form>
            </div>
        </div>
        
        <h3>新しいタスクを追加</h3>
        <form method="post" th:action="@{/add}" class="todo-form">
            <div class="form-group">
                <input type="text" class="form-control" name="title" />
                <input type="date" class="form-control" name="time_limit" />
                <button type="submit" class="btn btn-success mt-2">追加</button>
            </div>
        </form>
        
        <form method="post" th:action="@{/delete}">
            <button type="submit" class="btn btn-danger">完了済みを削除</button>
        </form>
    </div>
</body>
</html>
